##
## GSM data connection detailed event analysis by IMSI (using raw tables)
##
##
## Named PreparedStatement Parameter:
##
##     :IMSI
##	   :TBF_RELEASE_CAUSE

#set($rawtables=$TECH_PACK_LIST.getAllRawTables())

select
	#if($count > 0)
	  top $count
	#end
	rawview.EVENT_TIME,
    rawview.TAC,
	DIM_E_SGEH_TAC.MANUFACTURER AS 'Terminal Make', 
	DIM_E_SGEH_TAC.MARKETING_NAME AS 'Terminal Model',
    CATEGORY_ID_DESC AS 'Event Type',
    TBF_RELEASE_CAUSE_DESC,
    TBF_DATA_VOLUME,
    TBF_DURATION,
	RP_NUMBER,
    CHANNEL_RELATED_RELEASE_CAUSE,
	CHANNEL_RELATED_RELEASE_CAUSE_GROUP_DESC,
    TBF_MUX_DESC,
    EFACTOR_SETTINGS,
    DATA_VALID_INDICATOR_DESC,
    MS_SAIC_CAP_DESC,
    AQM_ACTIVE_DESC,
    DTM_FLAG_DESC,
    RLC_MODE_DESC,
    DIR_DESC,
    OFLW_DESC,
	MS_3GPP_CAP_DESC,
    TTI_MODE_DESC,
    REDUCED_LATENCY_DESC,
    RADIO_LINK_BITRATE,
    GPRS_MEAS_REPORT_RXQUAL_DL_DESC,
    GPRS_MEAS_REPORT_SIGN_VAR_DESC,
    GPRS_MEAS_REPORT_MEAN_BEP_DESC,
    GPRS_MEAS_REPORT_CV_BEP_DESC,
    GPRS_MEAS_REPORT_CVALUE_DESC,
    IP_LATENCY,
    LOW_PRIORITY_MODE_TIME,
    BLER,
    MS_FREQ_BAND_CAP_GSM_850_DESC,
    MS_FREQ_BAND_CAP_GSM_900_DESC,
    MS_FREQ_BAND_CAP_GSM_1800_DESC,
    MS_FREQ_BAND_CAP_GSM_1900_DESC,
    AQM_DATA_DELIVERED,
    AQM_DATA_RECIEVED,
    PAN_INDICATOR_DESC,
    TBF_MODE_DESC,
    DCDL_CAPABILITY_DESC,
    DCDL_INDICATOR_DESC,
     MS_MSLOT_CAP_REDUCTION_DESC,
    topology.HIERARCHY_3 AS 'Controller',
	topology.HIERARCHY_1 AS 'Access Area',
	topology.VENDOR AS 'Vendor',
	rawview.IMSI
from 
	(
		#foreach ($rawtable in $rawtables)
			select			
				MS_3GPP_CAP,
				EVENT_TIME, 
				TAC, 
				HIER3_ID, 
				HIER321_ID, 
				CATEGORY_ID, 
				IMSI, 
				TBF_RELEASE_CAUSE, 
				TBF_DATA_VOLUME, 
				TBF_DURATION, 
				RP_NUMBER, 
				CHANNEL_RELATED_RELEASE_CAUSE, 
				CHANNEL_RELATED_RELEASE_CAUSE_GROUP, 
				TBF_MUX, 
				EFACTOR_SETTINGS, 
				DATA_VALID_INDICATOR, 
				MS_SAIC_CAP, 
				AQM_ACTIVE, 
				DTM_FLAG, 
				RLC_MODE, 
				DIR, 
				OFLW, 
				TTI_MODE, 
				REDUCED_LATENCY, 
				RADIO_LINK_BITRATE, 
				GPRS_MEAS_REPORT_RXQUAL_DL, 
				GPRS_MEAS_REPORT_SIGN_VAR, 
				GPRS_MEAS_REPORT_MEAN_BEP, 
				GPRS_MEAS_REPORT_CV_BEP, 
				GPRS_MEAS_REPORT_CVALUE, 
				IP_LATENCY, 
				LOW_PRIORITY_MODE_TIME, 
				BLER, 
				MS_FREQ_BAND_CAP_GSM_850, 
				MS_FREQ_BAND_CAP_GSM_900, 
				MS_FREQ_BAND_CAP_GSM_1800, 
				MS_FREQ_BAND_CAP_GSM_1900, 
				AQM_DATA_DELIVERED, 
				AQM_DATA_RECIEVED, 
				PAN_INDICATOR, 
				TBF_MODE, 
				DCDL_CAPABILITY, 
				DCDL_INDICATOR, 
				MS_MSLOT_CAP_REDUCTION		
			from 
				dc.$rawtable
			where
				IMSI =:IMSI
				and TBF_RELEASE_CAUSE =:CAUSE_CODE
        		and	#GET_DATETIME_RANGE()
			#if($velocityCount < $rawtables.size())
					union all
			#end
		#end
	) as rawview
        ,DIM_E_SGEH_TAC,
        DIM_E_GSM_PS_TBF_RELEASE_CAUSE,
		DIM_E_GSM_PS_CHANNEL_RELATED_RELEASE_CAUSE_GROUP,
        DIM_E_GSM_PS_TBF_MUX,
        DIM_E_GSM_PS_DATA_VALID_INDICATOR,
        DIM_E_GSM_PS_MS_SAIC_CAP,
        DIM_E_GSM_PS_AQM_ACTIVE,
        DIM_E_GSM_PS_DTM_FLAG,
        DIM_E_GSM_PS_RLC_MODE,
        DIM_E_GSM_PS_DIR,
        DIM_E_GSM_PS_OFLW,
        DIM_E_GSM_PS_MS_3GPP_CAP,
        DIM_E_GSM_PS_TTI_MODE,
        DIM_E_GSM_PS_REDUCED_LATENCY,
        DIM_E_GSM_PS_GPRS_MEAS_REPORT_RXQUAL_DL,
        DIM_E_GSM_PS_GPRS_MEAS_REPORT_SIGN_VAR,
        DIM_E_GSM_PS_GPRS_MEAS_REPORT_MEAN_BEP,
        DIM_E_GSM_PS_GPRS_MEAS_REPORT_CV_BEP,
        DIM_E_GSM_PS_GPRS_MEAS_REPORT_CVALUE,
        DIM_E_GSM_PS_MS_FREQ_BAND_CAP_GSM_850,
        DIM_E_GSM_PS_MS_FREQ_BAND_CAP_GSM_900,
        DIM_E_GSM_PS_MS_FREQ_BAND_CAP_GSM_1800,
        DIM_E_GSM_PS_MS_FREQ_BAND_CAP_GSM_1900,
        DIM_E_GSM_PS_PAN_INDICATOR,
        DIM_E_GSM_PS_TBF_MODE,
        DIM_E_GSM_PS_DCDL_CAPABILITY,
        DIM_E_GSM_PS_DCDL_INDICATOR,
        DIM_E_GSM_PS_MS_MSLOT_CAP_REDUCTION,
        DIM_E_GSM_PS_EVENTTYPE,
	((select distinct HIER321_ID,HIERARCHY_1,HIERARCHY_3,VENDOR from DIM_E_SGEH_HIER321 where RAT = 0) 
	as topology(HIER321_ID,HIERARCHY_1,HIERARCHY_3,VENDOR))
where   rawview.HIER321_ID *= topology.HIER321_ID AND
		rawview.CATEGORY_ID = DIM_E_GSM_PS_EVENTTYPE.CATEGORY_ID AND
        rawview.TBF_RELEASE_CAUSE = DIM_E_GSM_PS_TBF_RELEASE_CAUSE.TBF_RELEASE_CAUSE AND
		rawview.CHANNEL_RELATED_RELEASE_CAUSE_GROUP *= DIM_E_GSM_PS_CHANNEL_RELATED_RELEASE_CAUSE_GROUP.CHANNEL_RELATED_RELEASE_CAUSE_GROUP AND
        rawview.TBF_MUX = DIM_E_GSM_PS_TBF_MUX.TBF_MUX AND
        rawview.DATA_VALID_INDICATOR = DIM_E_GSM_PS_DATA_VALID_INDICATOR.DATA_VALID_INDICATOR AND
        rawview.MS_SAIC_CAP = DIM_E_GSM_PS_MS_SAIC_CAP.MS_SAIC_CAP AND
        rawview.AQM_ACTIVE = DIM_E_GSM_PS_AQM_ACTIVE.AQM_ACTIVE AND
        rawview.DTM_FLAG = DIM_E_GSM_PS_DTM_FLAG.DTM_FLAG AND
        rawview.RLC_MODE = DIM_E_GSM_PS_RLC_MODE.RLC_MODE AND
        rawview.DIR = DIM_E_GSM_PS_DIR.DIR AND
        rawview.OFLW = DIM_E_GSM_PS_OFLW.OFLW AND
		rawview.MS_3GPP_CAP = DIM_E_GSM_PS_MS_3GPP_CAP.MS_3GPP_CAP AND
        rawview.TTI_MODE = DIM_E_GSM_PS_TTI_MODE.TTI_MODE AND
        rawview.REDUCED_LATENCY = DIM_E_GSM_PS_REDUCED_LATENCY.REDUCED_LATENCY AND        
        rawview.GPRS_MEAS_REPORT_RXQUAL_DL *= DIM_E_GSM_PS_GPRS_MEAS_REPORT_RXQUAL_DL.GPRS_MEAS_REPORT_RXQUAL_DL  AND
        rawview.GPRS_MEAS_REPORT_SIGN_VAR *= DIM_E_GSM_PS_GPRS_MEAS_REPORT_SIGN_VAR.GPRS_MEAS_REPORT_SIGN_VAR AND
        rawview.GPRS_MEAS_REPORT_MEAN_BEP *= DIM_E_GSM_PS_GPRS_MEAS_REPORT_MEAN_BEP.GPRS_MEAS_REPORT_MEAN_BEP AND
        rawview.GPRS_MEAS_REPORT_CV_BEP *= DIM_E_GSM_PS_GPRS_MEAS_REPORT_CV_BEP.GPRS_MEAS_REPORT_CV_BEP AND
        rawview.GPRS_MEAS_REPORT_CVALUE *= DIM_E_GSM_PS_GPRS_MEAS_REPORT_CVALUE.GPRS_MEAS_REPORT_CVALUE AND
        rawview.MS_FREQ_BAND_CAP_GSM_850 = DIM_E_GSM_PS_MS_FREQ_BAND_CAP_GSM_850.MS_FREQ_BAND_CAP_GSM_850 AND
        rawview.MS_FREQ_BAND_CAP_GSM_900 = DIM_E_GSM_PS_MS_FREQ_BAND_CAP_GSM_900.MS_FREQ_BAND_CAP_GSM_900 AND
        rawview.MS_FREQ_BAND_CAP_GSM_1800 = DIM_E_GSM_PS_MS_FREQ_BAND_CAP_GSM_1800.MS_FREQ_BAND_CAP_GSM_1800 AND
        rawview.MS_FREQ_BAND_CAP_GSM_1900 = DIM_E_GSM_PS_MS_FREQ_BAND_CAP_GSM_1900.MS_FREQ_BAND_CAP_GSM_1900 AND
        rawview.PAN_INDICATOR = DIM_E_GSM_PS_PAN_INDICATOR.PAN_INDICATOR AND
        rawview.TBF_MODE = DIM_E_GSM_PS_TBF_MODE.TBF_MODE AND
        rawview.DCDL_CAPABILITY = DIM_E_GSM_PS_DCDL_CAPABILITY.DCDL_CAPABILITY AND
        rawview.DCDL_INDICATOR = DIM_E_GSM_PS_DCDL_INDICATOR.DCDL_INDICATOR AND
        rawview.MS_MSLOT_CAP_REDUCTION = DIM_E_GSM_PS_MS_MSLOT_CAP_REDUCTION.MS_MSLOT_CAP_REDUCTION AND
		rawview.TAC *= DIM_E_SGEH_TAC.TAC
		ORDER BY
    rawview.EVENT_TIME desc