##
## GSM Connection Failure Ranking by Controller (using raw tables)
##
##
## Named PreparedStatement Parameter:
##
##     :dateFrom   starting time
##     :dateTo     ending time
##

#set($rawtables=$TECH_PACK_LIST.getAllRawTablesWithMeasurementType())

select
	#if($count > 0)
	  top $count
	#end
	rank() over (order by NO_OF_ERRORS desc) as Rank,
	VENDOR AS 'RAN Vendor',
	HIERARCHY_3 AS 'Controller',
	NO_OF_ERRORS,
	result_data.HIER3_ID as 'HIER3_ID'
from
	(
		select 
			HIER3_ID, 
			sum(isnull(NO_OF_ERRORS, 0)) as NO_OF_ERRORS
		from 
			(
        		#foreach ($rawtable in $rawtables)
        			select			
        				HIER3_ID, NO_OF_ERRORS	
        			from dc.$rawtable
        			where
            			HIER3_ID is not null
						and #GET_DATETIME_RANGE()
            			and #GET_TAC_EXCLUSION()
        			#if($velocityCount < $rawtables.size())
        					union all
        			#end
        		#end
        	) as rawview
		group by 
			HIER3_ID
	) 
	as result_data
	left outer join
	( 
		select 
			distinct HIERARCHY_3,HIER3_ID,VENDOR 
		from 
			DIM_E_SGEH_HIER321
		where 
			RAT=0
	) 
	as hier_table on result_data.HIER3_ID = hier_table.HIER3_ID	