#DEFINE_CONSTANTS()

select
	err.SUB_CAUSE_CODE as "Extended Cause ID",
	err.SUB_CAUSE_CODE_DESC as "Extended Cause Value",
	count(*) as "Failures",
	isnull(count(distinct(IMSI)),0) as "Impacted Subscribers"
	,'$node' as "Node"
	,'$CAUSE_VALUE' as "Cause Group"
	,:CAUSE_GROUP as "Cause Group ID"
	,:HIER3_ID as "HIER3_ID"
	#if($CATEGORY_ID != "")	
		,'$CATEGORY_ID' as "CATEGORY_ID"
	#else
		,'Not Applicable' as "CATEGORY_ID"
	#end
	#if($failure_type != "")	
		,'$failure_type' as 'Event Type'
	#else
		,'Not Applicable' as "Event Type"
	#end
from 
(
	#foreach ($errtable in $TECH_PACK_LIST.getAllRawTables())
        (
        select	
        	sccref.EXTENDED_CAUSE, 
        	EXTENDED_CAUSE_DESC, 
        	IMSI
        from
        	dc.${errtable} errRef,
        	dc.DIM_E_GSM_CFA_EXTENDED_CAUSE sccref
        where
        	#GET_DATETIME_RANGE()
        	and HIER3_ID = :HIER3_ID
        	and errRef.CAUSE_GROUP = :CAUSE_GROUP
        	and #GET_TAC_EXCLUSION()
        	and sccref.EXTENDED_CAUSE = errRef.EXTENDED_CAUSE
			#if($CATEGORY_ID != "")	
				and
				errRef.CATEGORY_ID = :CATEGORY_ID
			#end
        )	
		#if($velocityCount < $TECH_PACK_LIST.getAllRawTables().size())
			union all
		#end
	#end
) as err (SUB_CAUSE_CODE, SUB_CAUSE_CODE_DESC, IMSI)
group by
	err.SUB_CAUSE_CODE,
	err.SUB_CAUSE_CODE_DESC	
order by
	Failures DESC
	