##
## GSM Call Failure Cause Code Analysis by Access Area Group(using raw tables)
##
## Velocity Parameter: 
##
## Named PreparedStatement Parameter:
##
##	   :HIER321_ID:   The cell hash id
##     $causeCodeIds
##     $display:         chart and grid
##	   :groupname       
##
##

	
#DEFINE_CONSTANTS()

SELECT
	err.CAUSE_GROUP as 'Cause Group ID',
	err.CAUSE_GROUP_DESC as 'Cause Group',
	count(*) as 'Failures',
	isnull(count(distinct(err.IMSI)),0) as 'Impacted Subscribers',
	:groupname as 'Group Name'

FROM
(
	#foreach ($errtable in $TECH_PACK_LIST.getAllRawTables())
	(
		SELECT
			ccref.CAUSE_GROUP, 
        	CAUSE_GROUP_DESC, 
        	IMSI
		FROM
			dc.${errtable} errRef,
        	dc.DIM_E_GSM_CFA_CAUSE_GROUP ccref,
			dc.GROUP_TYPE_E_RAT_VEND_HIER321 cellGroup
		WHERE
			#GET_DATETIME_RANGE()
        	AND cellGroup.GROUP_NAME = :groupname
        	AND cellGroup.HIER321_ID = errRef.HIER321_ID	 
        	AND #GET_TAC_EXCLUSION()
        	AND ccref.CAUSE_GROUP = errRef.CAUSE_GROUP
			#if ($display == "chart")
				AND
				ccref.CAUSE_GROUP  in ($causeCodeIds)
			#end
			#if($CATEGORY_ID != "")	
				and
				errRef.CATEGORY_ID = :CATEGORY_ID
			#end		
	)
    	#if($velocityCount < $TECH_PACK_LIST.getAllRawTables().size())
    			union all
    	#end
	#end
)as err (CAUSE_GROUP, CAUSE_GROUP_DESC, IMSI)
group by
	err.CAUSE_GROUP,
	err.CAUSE_GROUP_DESC
ORDER BY
	Failures DESC
	