#DEFINE_CONSTANTS()

select
    :TAC as "TAC",
    '$MANUFACTURER' as Manufacturer,
	'$MODEL' as Model,
    '$failure_type' as 'Event Type',
	err.CAUSE_GROUP as 'Cause Group ID',
	err.CAUSE_GROUP_DESC as 'Cause Group',
	count(*) as 'Failures',
	isnull(count(distinct(err.IMSI)),0) as 'Impacted Subscribers',
	:CATEGORY_ID as "CATEGORY_ID"
 
from 
(
	#foreach ($errtable in $TECH_PACK_LIST.getAllRawTables())
		(
        select	
        	ccref.CAUSE_GROUP, 
        	CAUSE_GROUP_DESC,
			IMSI
        from
        	dc.${errtable} errRef,
        	dc.DIM_E_GSM_CFA_CAUSE_GROUP ccref
        where
        	#GET_DATETIME_RANGE()
        	and TAC = :TAC
        	and #GET_TAC_EXCLUSION()
        	and ccref.CAUSE_GROUP = errRef.CAUSE_GROUP
			and errRef.CATEGORY_ID = :CATEGORY_ID
        )	
		#if($velocityCount < $TECH_PACK_LIST.getAllRawTables().size())
			union all
		#end
	#end
) as err (CAUSE_GROUP, CAUSE_GROUP_DESC, IMSI)
group by
	err.CAUSE_GROUP,
	err.CAUSE_GROUP_DESC
order by
	Failures DESC