##
## GSM Call Failure Detailed Event Analysis for Terminal (using raw tables)
##
## Velocity Parameter: 
##
## Named PreparedStatement Parameter:
##
##	   :TAC:   Corresponding tac id for terminal
##     :CATEGORY_ID
##
##set($conditionColumns=["CATEGORY_ID", "TAC" , "CAUSE_GROUP" ,"EXTENDED_CAUSE" ])
#set($conditionColumns=["CATEGORY_ID","TAC", "CAUSE_GROUP" ,"EXTENDED_CAUSE" ])
#if($CATEGORY_ID == '0')
#set($columnsToSelect=["IMSI", "EVENT_TIME", "RELEASE_TYPE", "CAUSE_GROUP" ,"EXTENDED_CAUSE", "VAMOS_NEIGHBOR_INDICATOR", "RSAI", "CHANNEL_TYPE", "URGENCY_CONDITION", "HIER3_ID", "HIER321_ID"])
#elseif($CATEGORY_ID == '1')
#set($columnsToSelect=["IMSI","EVENT_TIME", "RELEASE_TYPE", "TAC", "CAUSE_GROUP" ,"EXTENDED_CAUSE", "VAMOS_NEIGHBOR_INDICATOR", "RSAI", "CHANNEL_TYPE", "URGENCY_CONDITION", "CATEGORY_ID", "HIER3_ID", "HIER321_ID", "AF_CAUSE", "AF_ID"])
#end
SELECT 
	#if($count > 0)
	  top $count
	#end
	 #if($csv == true)
   	      DATEADD(minute,$tzOffset,rawview.EVENT_TIME)AS 'Event Time',
   	    #else
   	      rawview.EVENT_TIME AS 'Event Time',
   	    #end 

	 DIM_E_GSM_CFA_EVENTTYPE.CATEGORY_ID_DESC AS 'Event Type',
	 topology.VENDOR AS 'RAN Vendor',
     topology.HIERARCHY_3 AS 'Controller',
     topology.HIERARCHY_1 AS 'Access Area',
	 rawview.IMSI AS IMSI,
     :TAC AS TAC,
     DIM_E_SGEH_TAC.MANUFACTURER AS 'Terminal Make', 
     DIM_E_SGEH_TAC.MARKETING_NAME AS 'Terminal Model', 
     DIM_E_GSM_CFA_RELEASE_TYPE.RELEASE_TYPE_DESC AS 'Release Type',
	 DIM_E_GSM_CFA_URGENCY_CONDITION.URGENCY_CONDITION_DESC AS 'Urgency Condition',
     DIM_E_GSM_CFA_CAUSE_GROUP.CAUSE_GROUP_DESC AS 'Cause Group',    
     DIM_E_GSM_CFA_EXTENDED_CAUSE.EXTENDED_CAUSE_DESC AS 'Extended Cause Value',
	 topology.HIER3_ID AS HIER3_ID,
	 topology.HIER321_ID AS HIER321_ID,
	 #if($CATEGORY_ID == '1')
     (case DIM_E_GSM_CFA_AF_CAUSE.ORIGIN when '' THEN '-' else (DIM_E_GSM_CFA_AF_CAUSE.SHORT_DESC) + ', ' + (DIM_E_GSM_CFA_AF_CAUSE.ORIGIN) end) as 'Assignment Failure Cause Description',
	 #end
	 DIM_E_GSM_CFA_CHANNEL_TYPE.CHANNEL_TYPE_DESC AS 'Channel Type',
     DIM_E_GSM_CFA_VAMOS_NEIGHBOR_INDICATOR.VAMOS_PAIR_ALLOCATION_BY_MS AS 'VAMOS Pair Allocation by MS',
     DIM_E_GSM_CFA_RSAI.RSAI_DESC AS 'RSAI'
     
     
FROM 
   #REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_WITH_TAC_EXCLUSION_SPECIFY_COLUMNS($TECH_PACK_LIST.getAllRawErrTables() "rawview" $conditionColumns $columnsToSelect )
	 ,DIM_E_SGEH_TAC,
      DIM_E_GSM_CFA_EVENTTYPE,
      DIM_E_GSM_CFA_URGENCY_CONDITION, 
      DIM_E_GSM_CFA_EXTENDED_CAUSE,
	  #if($CATEGORY_ID == '1')
        DIM_E_GSM_CFA_AF_CAUSE,
      #end
      DIM_E_GSM_CFA_RELEASE_TYPE,
      DIM_E_GSM_CFA_VAMOS_NEIGHBOR_INDICATOR,
      DIM_E_GSM_CFA_RSAI,
      DIM_E_GSM_CFA_CHANNEL_TYPE,
      DIM_E_GSM_CFA_CAUSE_GROUP,
      ((select distinct HIER3_ID, HIER321_ID,HIERARCHY_1,HIERARCHY_3,VENDOR from DIM_E_SGEH_HIER321 where RAT = 0) 
        as topology(HIER3_ID, HIER321_ID,HIERARCHY_1,HIERARCHY_3,VENDOR))
WHERE
      rawview.HIER321_ID *= topology.HIER321_ID AND
      DIM_E_SGEH_TAC.TAC = :TAC AND
      DIM_E_GSM_CFA_EVENTTYPE.CATEGORY_ID = :CATEGORY_ID AND
      rawview.RELEASE_TYPE = DIM_E_GSM_CFA_RELEASE_TYPE.RELEASE_TYPE AND
      rawview.VAMOS_NEIGHBOR_INDICATOR = DIM_E_GSM_CFA_VAMOS_NEIGHBOR_INDICATOR.VAMOS_NEIGHBOR_INDICATOR AND
      rawview.RSAI = DIM_E_GSM_CFA_RSAI.RSAI AND
	  rawview.CHANNEL_TYPE = DIM_E_GSM_CFA_CHANNEL_TYPE.CHANNEL_TYPE AND
      rawview.URGENCY_CONDITION = DIM_E_GSM_CFA_URGENCY_CONDITION.URGENCY_CONDITION AND
	  #if($CATEGORY_ID == '1')
        rawview.AF_CAUSE = DIM_E_GSM_CFA_AF_CAUSE.AF_CAUSE AND
        rawview.AF_ID = DIM_E_GSM_CFA_AF_CAUSE.AF_ID AND
	  #end
	  DIM_E_GSM_CFA_CAUSE_GROUP.CAUSE_GROUP = :CAUSE_GROUP AND
	  DIM_E_GSM_CFA_EXTENDED_CAUSE.EXTENDED_CAUSE= :EXTENDED_CAUSE AND
	  rawview.EXTENDED_CAUSE = DIM_E_GSM_CFA_EXTENDED_CAUSE.EXTENDED_CAUSE AND
      rawview.RELEASE_TYPE = DIM_E_GSM_CFA_RELEASE_TYPE.RELEASE_TYPE
	  
ORDER BY
	rawview.EVENT_TIME desc 