##
## GSM Call Failure Analysis BSC group event summary (using raw tables)
##
##
## Named PreparedStatement Parameter:
##
##     :groupname  The name of the BSC group
##	   :CATEGORY_ID The category id of the event type 	
##

#set($rawtables=$TECH_PACK_LIST.getAllRawErrTables())
#set($errrawtables=$TECH_PACK_LIST.getAllRawErrTables())
#set($sucrawtables=$TECH_PACK_LIST.getAllRawSucTables())
#set($conditionColumns=["CATEGORY_ID"])
#set($columnsToSelect=["HIER3_ID", "HIER321_ID", "IMSI"])
#set($columnsToSelect1=["HIER3_ID"])
#set($groupTable="GROUP_TYPE_E_RAT_VEND_HIER3")
#set($groupnameColumn="GROUP_NAME")
#set($joinKeys=["HIER3_ID"])

select
	#if($count > 0)
	  top $count
	#end
        VENDOR AS 'RAN Vendor',
        HIERARCHY_3 AS 'Controller',
		CATEGORY_ID_DESC AS 'Event Type',
        failures AS 'Failures',
        impacted_subscribers AS 'Impacted Subscribers',
        HIER321_ID AS 'Impacted Cells',
		case when ((total_failure + successes) != 0)
			then cast(round((convert(double,failures)/convert(double,(total_failure + successes))*100),2) as decimal(5,2))
		else null 	   	
			end as 'Failure Ratio',   		
    	cat_id AS 'CATEGORY_ID',      
		result_data.HIER3_ID AS 'HIER3_ID',
		:groupname AS 'Group Name'
from
(
		select            
			count (*) as failures,			
			HIER3_ID,                        
			CATEGORY_ID_DESC,
            cat_id                                           
		from 
			
				(	#foreach ($rawtable in $rawtables)
        		        select			
        				raw.HIER3_ID, 
        				raw.CATEGORY_ID as cat_id,        				
            			CATEGORY_ID_DESC		
        			from 
						$rawtable raw,
						DIM_E_GSM_CFA_EVENTTYPE,
						GROUP_TYPE_E_RAT_VEND_HIER3
        			where
        				raw.CATEGORY_ID = :CATEGORY_ID AND
						raw.CATEGORY_ID = DIM_E_GSM_CFA_EVENTTYPE.CATEGORY_ID AND
						raw.HIER3_ID is not null AND 
                        GROUP_TYPE_E_RAT_VEND_HIER3.HIER3_ID = raw.HIER3_ID AND						
                        GROUP_TYPE_E_RAT_VEND_HIER3.GROUP_NAME = :groupname AND		
						#GET_DATETIME_RANGE() AND
						#GET_TAC_EXCLUSION()
						#if($velocityCount < $rawtables.size())
        					union all
        				#end
        			#end			
                 ) as rawview			
				   
	  group by CATEGORY_ID_DESC, rawview.HIER3_ID, cat_id
) 
as result_data (failures, HIER3_ID,CATEGORY_ID_DESC,cat_id)
left outer join
(
	select 
		count(distinct rawview.IMSI),
		count(DISTINCT rawview.HIER321_ID),
		HIER3_ID
	from 

		#REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_WITH_TAC_EXCLUSION_CONDITION_COLUMNS_GROUPS($rawtables "rawview" $conditionColumns $columnsToSelect)
    	
	group by rawview.HIER3_ID
) 
as subscribersRaw(IMPACTED_SUBSCRIBERS, HIER321_ID, HIER3_ID)
on 
(		
	 result_data.HIER3_ID = subscribersRaw.HIER3_ID
)
inner join 
( 
	select 
		DISTINCT HIER3_ID, HIERARCHY_3,VENDOR 
	from 
		DIM_E_SGEH_HIER321 
) 
as hier_table on result_data.HIER3_ID= hier_table.HIER3_ID,
(
	select 
			count (*)
		from 
	
	#REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_WITH_TAC_EXCLUSION_SPECIFY_COLUMNS_GROUPS($sucrawtables "sucrawview" $columnsToSelect1)	
	
)
as sucrawview(successes),	
(
	select 
			count (*) 
		from 
		
	#REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_WITH_TAC_EXCLUSION_SPECIFY_COLUMNS_GROUPS($errrawtables "errrawview" $columnsToSelect1)	
	
)
as errrawview(total_failure)
order by Failures desc
       