
	##
	## GSM Call Failure Detailed Event Analysis for BSC (using raw tables)
	##
	## Velocity Parameter: 
	##
	## Named PreparedStatement Parameter:
	##
	##	   :CATEGORY_ID:   Corresponding event id for access area
	##	   :groupname:     The name of the BSC group
	##
	
	#set($rawtables=$TECH_PACK_LIST.getAllRawTables())
	
SELECT 
    #if($count > 0)
		top $count
	#end
	#if($csv == true)
   	      DATEADD(minute,$tzOffset,rawview.EVENT_TIME)AS 'Event Time',
   	    #else
   	      rawview.EVENT_TIME AS 'Event Time',
   	    #end 

    rawview.IMSI                                           AS IMSI, 
    rawview.TAC                                            AS TAC, 
    DIM_E_SGEH_TAC.MANUFACTURER                            AS 'Terminal Make', 
    DIM_E_SGEH_TAC.MARKETING_NAME                          AS 'Terminal Model', 
    DIM_E_GSM_CFA_EVENTTYPE.CATEGORY_ID_DESC               AS 'Event Type', 
    DIM_E_GSM_CFA_RELEASE_TYPE.RELEASE_TYPE_DESC           AS 'Release Type', 
    DIM_E_GSM_CFA_URGENCY_CONDITION.URGENCY_CONDITION_DESC AS 'Cause Value', 
    DIM_E_GSM_CFA_EXTENDED_CAUSE.EXTENDED_CAUSE_DESC       AS 'Extended Cause Value', 
    topology.HIERARCHY_1                                   AS 'Access Area', 
    rawview.HIERARCHY_3                                    AS 'Controller' 
FROM 
    ( 
	#foreach ($rawtable in $rawtables)
        SELECT  
            HIER321_ID,
            HIERARCHY_3, 
            EVENT_TIME, 
            IMSI, 
            RELEASE_TYPE, 
            TAC, 
            URGENCY_CONDITION, 
            EXTENDED_CAUSE 
        FROM 
            dc.$rawtable raw , 
            GROUP_TYPE_E_RAT_VEND_HIER3 
        WHERE 
            GROUP_NAME                                  = :GROUP_NAME 
            AND CATEGORY_ID                             = :CATEGORY_ID 
            AND GROUP_TYPE_E_RAT_VEND_HIER3.HIER3_ID	= raw.HIER3_ID 
    		AND #GET_DATETIME_RANGE()
            AND #GET_TAC_EXCLUSION()
    		#if($velocityCount < $rawtables.size())
    				UNION ALL
    		#end
	#end	
    ) AS rawview ,
    DIM_E_SGEH_TAC, 
    DIM_E_GSM_CFA_EVENTTYPE, 
    DIM_E_GSM_CFA_URGENCY_CONDITION, 
    DIM_E_GSM_CFA_EXTENDED_CAUSE, 
    DIM_E_GSM_CFA_RELEASE_TYPE, 
    (
        (
        SELECT DISTINCT 
            HIER321_ID,HIERARCHY_1 
        FROM 
            DIM_E_SGEH_HIER321 
        WHERE 
            RAT                       = 0
        ) as topology(HIER321_ID, HIERARCHY_1)
    ) 
WHERE 
    rawview.TAC                            *= DIM_E_SGEH_TAC.TAC 
    AND rawview.HIER321_ID                  *= topology.HIER321_ID
    AND DIM_E_GSM_CFA_EVENTTYPE.CATEGORY_ID = 0 
    AND rawview.URGENCY_CONDITION           = DIM_E_GSM_CFA_URGENCY_CONDITION.URGENCY_CONDITION 
    AND rawview.EXTENDED_CAUSE              = DIM_E_GSM_CFA_EXTENDED_CAUSE.EXTENDED_CAUSE 
    AND rawview.RELEASE_TYPE                = DIM_E_GSM_CFA_RELEASE_TYPE.RELEASE_TYPE 
ORDER BY 
    rawview.EVENT_TIME desc