##
## GSM Call Failure Analysis IMSI event summary (using raw tables)
##
##
## Named PreparedStatement Parameter:
##
##     :IMSI   
##
#set($columnsToSelect="HIER3_ID, CATEGORY_ID, IMSI")
#set($errrawtables=$TECH_PACK_LIST.getAllRawErrTables())
#set($sucrawtables=$TECH_PACK_LIST.getAllRawSucTables())

select
	#if($count > 0)
	  top $count
	#end
	CATEGORY_ID_DESC as 'Event Type',
	Failures,
	case when (isnull(total_failure,0)+isnull(sucresult_data.success,0)) != 0
		 then cast(round((convert(double,failures)/convert(double,(isnull(total_failure,0)+isnull(sucresult_data.success,0)))*100),2) as decimal(5,2))
		 else null  
	end as 'Failure Ratio',
	errresult_data.CATEGORY_ID as 'CATEGORY_ID',
	errresult_data.IMSI as 'IMSI',
	:MSISDN as 'MSISDN'
	
from
	(
		select 
		IMSI,
			CATEGORY_ID,
			count (*) as failures
		from 
		(
		#foreach ($rawtable in $errrawtables)
			select			
				$columnsToSelect	
			from dc.$rawtable
			where	
			    IMSI = (select IMSI from DIM_E_IMSI_MSISDN where MSISDN=:MSISDN) AND
    			#GET_DATETIME_RANGE() AND
				#GET_TAC_EXCLUSION() AND
    			CATEGORY_ID is not null AND 
    			IMSI is not null 
    			#if($velocityCount < $errrawtables.size())
    					union all
    			#end
		#end
		) as errrawview
	  group by CATEGORY_ID,IMSI
	) 
	as errresult_data
inner join
	(
		select 
			CATEGORY_ID, 
			CATEGORY_ID_DESC
		from 
			DIM_E_GSM_CFA_EVENTTYPE
	) as category
on
   ( errresult_data.CATEGORY_ID=category.CATEGORY_ID )   
,
(
		select 
			count (*) as success
		from 
		(
		#foreach ($rawtable in $sucrawtables)
			select			
				$columnsToSelect	
			from dc.$rawtable
			where	
			    IMSI =(select IMSI from DIM_E_IMSI_MSISDN where MSISDN=:MSISDN) AND
    			#GET_DATETIME_RANGE() AND
				#GET_TAC_EXCLUSION() AND
    			IMSI is not null 
    			#if($velocityCount < $sucrawtables.size())
    					union all
    			#end
		#end
		) as sucrawview
) 
as sucresult_data,
(
		select 
			count (*) as total_failure
		from 
		(
		#foreach ($rawtable in $errrawtables)
			select			
				$columnsToSelect	
			from dc.$rawtable
			where	
			    IMSI =(select IMSI from DIM_E_IMSI_MSISDN where MSISDN=:MSISDN) AND
    			#GET_DATETIME_RANGE() AND
				#GET_TAC_EXCLUSION() AND
    			IMSI is not null 
    			#if($velocityCount < $errrawtables.size())
    					union all
    			#end
		#end
		) as totalerrrawview
) 
as errtotalresult_data order by errresult_data.CATEGORY_ID Desc