##
## GSM Call Failure Analysis Access Area Distribution Event Summary RAW By BSC
##
## Velocity Parameter: 
##		HIER3_ID:  Controller Hash Id
##		Controller: Controller 
##		CATEGORY_ID
##      CATEGORY_ID_DESC
##
## Named PreparedStatement Parameter:
##
##     dateFrom:   starting time
##     dateTo:     ending time
##

#set($errrawtables=$TECH_PACK_LIST.getAllRawErrTables())
#set($sucrawtables=$TECH_PACK_LIST.getAllRawSucTables())

SELECT 
	#if($count > 0)
	  top $count
	#end
	VENDOR AS 'RAN Vendor', 
	HIERARCHY_1 AS 'Access Area',
	'$CATEGORY_ID_DESC' As 'Event Type',
	Failures,
	IMPACTED_SUBSCRIBERS as 'Impacted Subscriber',
	case when (isnull(total_failure,0)+isnull(sucdata.SUCCESS,0)) != 0
		then cast(round((convert(double,isnull(FAILURES,0))/convert(double,(isnull(total_failure,0)+isnull(sucdata.SUCCESS,0)))*100),2) as decimal(5,2))
		else null 	   	
    	end as 'Failure Ratio',
	errdata.HIER321_ID,
	:CATEGORY_ID AS 'CATEGORY_ID',
	'$CONTROLLER' AS 'Controller'
FROM 
(	
	select 
		count (*) as failures,
		count (distinct errrawview.IMSI),
		HIER321_ID
	from 
		(
    		#foreach ($rawtable in $errrawtables)
    			select			
    				IMSI, HIER321_ID		
    			from dc.$rawtable 
    			where
    				HIER3_ID = :HIER3_ID
					and CATEGORY_ID = :CATEGORY_ID
        			and #GET_DATETIME_RANGE()
        			and #GET_TAC_EXCLUSION()
    			#if($velocityCount < $errrawtables.size())
    					union all
    			#end
    		#end
    	) as errrawview
    group by
    	HIER321_ID		
) 
AS errdata(FAILURES, IMPACTED_SUBSCRIBERS, HIER321_ID),
(	
	select 
		count (*) as success,
		HIER321_ID
	from 
		(
    		#foreach ($rawtable in $sucrawtables)
    			select			
    				HIER321_ID		
    			from dc.$rawtable 
    			where
    				HIER3_ID = :HIER3_ID
        			and #GET_DATETIME_RANGE()
        			and #GET_TAC_EXCLUSION()
    			#if($velocityCount < $sucrawtables.size())
    					union all
    			#end
    		#end
    	) as sucrawview
    group by
    	HIER321_ID		
) 
AS sucdata(SUCCESS, HIER321_ID),
(	
	select 
		count (*),
		HIER321_ID
	from 
		(
    		#foreach ($rawtable in $errrawtables)
    			select			
    				HIER321_ID		
    			from dc.$rawtable 
    			where
    				HIER3_ID = :HIER3_ID
        			and #GET_DATETIME_RANGE()
        			and #GET_TAC_EXCLUSION()
    			#if($velocityCount < $errrawtables.size())
    					union all
    			#end
    		#end
    	) as errrawview
    group by
    	HIER321_ID		
) 
AS totalerrdata(total_failure, HIER321_ID)
,
(
	select distinct VENDOR, HIER321_ID, HIERARCHY_1 from DIM_E_SGEH_HIER321
	where RAT=0
	and HIER3_ID = :HIER3_ID
) 
AS topology(VENDOR, HIER321_ID, HIERARCHY_1) 
WHERE
	errdata.HIER321_ID *= sucdata.HIER321_ID 
AND
	errdata.HIER321_ID *= topology.HIER321_ID
AND 
    errdata.HIER321_ID = totalerrdata.HIER321_ID
ORDER BY
	Failures DESC

