##
## GSM Call Failure Analysis BSC group event summary (using aggregation tables)
##
##
## Named PreparedStatement Parameter:
##
##     :groupname  The name of the BSC group
##	   :CATEGORY_ID The category id of the event type 	
##

#set($rawtables=$TECH_PACK_LIST.getAllRawErrTables())
#set($columnsToSelect=["HIER3_ID", "HIER321_ID", "IMSI"])
#set($conditionColumns=["CATEGORY_ID"])
#set($groupTable="GROUP_TYPE_E_RAT_VEND_HIER3")
#set($groupnameColumn="GROUP_NAME")
#set($joinKeys=["HIER3_ID"])

select
	#if($count > 0)
	  top $count
	#end
	    VENDOR AS 'RAN Vendor',
	    HIERARCHY_3 AS 'Controller',
		CATEGORY_ID_DESC AS 'Event Type',
		NO_OF_FAILURES AS 'Failures', 
		IMPACTED_SUBSCRIBERS AS 'Impacted Subscribers',
		subscribersRaw.HIER321_ID AS 'Impacted Cells',
		case when ((total_failure + successes) != 0)
			then cast(round((convert(double,failures)/convert(double,(total_failure + successes))*100),2) as decimal(5,2))
		else null 	   	
			end as 'Failure Ratio',    	
    	CATEGORY_ID AS 'CATEGORY_ID',
		aggView.HIER3_ID AS 'HIER3_ID',
		:groupname AS 'Group Name'
		
from
(
	select 
        isnull(sum(NO_OF_ERRORS), 0) as failures,		
        DIM_E_GSM_CFA_EVENTTYPE.CATEGORY_ID_DESC, 
        errorAggregationView.HIER3_ID, 
        DIM_E_GSM_CFA_EVENTTYPE.CATEGORY_ID         
	from 
		$errAggregationView as errorAggregationView,
		GROUP_TYPE_E_RAT_VEND_HIER3, 
        DIM_E_GSM_CFA_EVENTTYPE 
	where
		errorAggregationView.CATEGORY_ID= :CATEGORY_ID AND
		DIM_E_GSM_CFA_EVENTTYPE.CATEGORY_ID=errorAggregationView.CATEGORY_ID  AND
		GROUP_TYPE_E_RAT_VEND_HIER3.GROUP_NAME = :groupname AND
		GROUP_TYPE_E_RAT_VEND_HIER3.HIER3_ID = errorAggregationView.HIER3_ID AND
		#GET_DATETIME_RANGE()
	group by
		errorAggregationView.HIER3_ID,
		DIM_E_GSM_CFA_EVENTTYPE.CATEGORY_ID,
		CATEGORY_ID_DESC
) 
as aggView(NO_OF_FAILURES, CATEGORY_ID_DESC, HIER3_ID, CATEGORY_ID)
left outer join
(
	select 
		count(distinct rawview.IMSI),
		count(DISTINCT rawview.HIER321_ID),
		HIER3_ID
	from
	
		#REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_WITH_TAC_EXCLUSION_CONDITION_COLUMNS_GROUPS($rawtables "rawview" $conditionColumns $columnsToSelect)	
		
	group by	rawview.HIER3_ID
) 
as subscribersRaw(IMPACTED_SUBSCRIBERS, HIER321_ID, HIER3_ID)
on 
(		
	 aggView.HIER3_ID = subscribersRaw.HIER3_ID
)
inner join 
( 
		select 
			DISTINCT HIER3_ID, 
			HIERARCHY_3,
			VENDOR 
		from 
			DIM_E_SGEH_HIER321 
	) as hier_table 
	on subscribersRaw.HIER3_ID= hier_table.HIER3_ID,
	(
		select 
			isnull(sum(NO_OF_SUCCESSES), 0)
		from
			$sucAggregationView as tempSuc,
			GROUP_TYPE_E_RAT_VEND_HIER3, 
		where	
			tempSuc.HIER3_ID = GROUP_TYPE_E_RAT_VEND_HIER3.HIER3_ID AND
			GROUP_TYPE_E_RAT_VEND_HIER3.GROUP_NAME = :groupname AND
			#GET_DATETIME_RANGE() 
)as succesAggregation(successes),
(
		select 
			isnull(sum(NO_OF_ERRORS), 0)
		from
			$errAggregationView as tempErr,
			GROUP_TYPE_E_RAT_VEND_HIER3,
		where	
			tempErr.HIER3_ID = GROUP_TYPE_E_RAT_VEND_HIER3.HIER3_ID AND
			GROUP_TYPE_E_RAT_VEND_HIER3.GROUP_NAME = :groupname AND
			#GET_DATETIME_RANGE()
)as totalErrAggregation(total_failure)
order by Failures desc
	